body {
	background-color: #ddd;
}
header {
	width: 90%;
	margin: auto;
	background-color: white;
	text-align: center;
}
header p {
	font-style: italic;
	text-align: center;
nav {
	width: 90%;
	margin: auto;
}
nav ul {
	list-style: none;
	width: 90%;
}
nav ul li {
	display: inline;
	float: left;
	width: 30%;
	padding: 5px;
}
nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
}
section {
	width: 90%;
	margin: auto;
	background-color: white;
}
section main {
	display: inline;
	float: left;
	width: 60%;
	padding: 5px;
}
h3 {
	text-align: center;
}
p {
	text-align: justify;
}
section aside {
	display: inline;
	float: left;
	width: 35%;
	padding: 5px;
}
footer {

	clear: both;
	width: 90%;
	margin: 5px auto;
	background-color: white;
}
